:root{
    --dark-text: #1A3B34;
    --loader-color: #868688;
}
.notasContainer{
    max-width: 1400px;
    margin: auto;
    padding: 40px;
    
}
.notaPage-title{
    font-size: 30px;
    font-weight: bold;
    color: var(--dark-text);
    margin-bottom: 20px;
}
.inputs{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.inputGroup label, .label{
    font-size: 18px;
    font-weight: bold;
    color: var(--dark-text);
}
.inputGroup select{
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid gray;
}

.btn-results{
    width: 100%;
    background-color: rgb(28, 28, 118);
    color: white;
    border-radius: 8px;
    font-size: 18px;
    padding: 8px 12px;
    transition: .3s;
    margin-bottom: 16px;
}
.btn-results:hover{
    background-color: rgb(16, 16, 83);
}
.table{
}
.table__labels{
    @apply grid grid-cols-4 bg-[#118DF0] text-white font-bold;
    }

.table__row{
    @apply grid grid-cols-4 border-b-[1px] border-b-gray-900;
}
.table__cell{
    @apply py-6 text-center;
    font-size: 18px;
}



.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid var(--loader-color);
  border-color: var(--loader-color) transparent var(--loader-color) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

