.carousel-container {
    width: 100%;
    margin: 0 auto;
}

.slick-slide {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.slick-center .carousel-item {
    transform: scale(1.1);
    opacity: 1;
}

.carousel-item {
    width: 25em;
    height: 20em;
    text-align: center;
    opacity: 0.7;
    transform: scale(0.8);
    position: relative;
}

.slick-center .carousel-item {
    opacity: 2;
    transform: scale(1.1);
}

.carousel-item img {
    width: 17em; 
    height: 9em;
    object-fit: cover;
}

.info-box {
    width: 17em; 
    height: 10em;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    box-sizing: border-box; 
}
.info-box h1{
    font-weight: bolder;
}

.slick-list {
    overflow: hidden;
}

.carousel-item .info-box h3 {
    font-size: 16px;
    text-align: left;
    padding: 0 0.5em;
}