.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.cards-container .card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    width: 13em;
    height: 14em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    margin: 0;
    font-size: 1.25rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1.7em;
}

.card:hover .overlay {
    opacity: 1;
}

.popup{
    background-color: rgba(0, 0, 0, 0.5);
    /* color: white; */
}

.popup ul li:hover{
background-color: #cccc;
font-weight: bold;
}